<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <div class="container">
    <a class="navbar-brand">Carros</a>
    <ul class="nav navbar-nav" routerLinkActive="active">
      <li class="nav-item"><a class="nav-link"  routerLink="query">Consultar</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="register">Cadastrar</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="row" style="padding-top: 50px">

    <app-register></app-register>
  </div>



</div>
