<div class="container">
  <h2 align="center">Cadasto de Carros</h2>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-login">
        <div class="panel-heading">
          <hr>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-8">
              <form id="cars-form"  role="form" style="display: block;">
                <div class="form-group">
                  <h3>Iformações do Carro</h3>
                  <input type="text" name="marca" tabindex="1" class="form-control" placeholder="Marca" value="">
                  <input type="text" name="modelo" tabindex="2" class="form-control" placeholder="Modelo" value="">
                  <input type="text" name="anoFabricacao"  tabindex="3" class="form-control" placeholder="Ano de Fabricação" value="">
                  <input type="text" name="combustivel" tabindex="4" class="form-control" placeholder="Combustível" value="">
                  <input type="text" name="placa"  tabindex="5" class="form-control" placeholder="Placa" value="">
                  <input type="text" name="cor"  tabindex="6" class="form-control" placeholder="Cor" value="">
                  <input type="text" name="km"  tabindex="7" class="form-control" placeholder="KM" value="">

                </div>
                <div class="form-group">
                  <input type="checkbox" name="vidro"  tabindex="8" class="form-control"  value="Tem vidro elétrico?">
                  <input type="checkbox" name="dono"  tabindex="9" class="form-control"  value="Único dono?">
                  <input type="checkbox" name="hidraulica"  tabindex="10" class="form-control"  value="Direção hidráulica?">
                  <input type="checkbox" name="ar"  tabindex="11" class="form-control"  value="Ar?">
                  <input type="checkbox" name="som"  tabindex="12" class="form-control"  value="Som?">
                  <input type="checkbox" name="airbag"  tabindex="13" class="form-control"  value="Airbag?">
                  <input type="checkbox" name="4portas"  tabindex="14" class="form-control"  value="4 portas?">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-login">
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-4">
              <form id="login-form"  role="form" style="display: block;">
                <div class="form-group">
                  <h3>Iformações do Carro</h3>
                  <input type="text" name="marca" tabindex="1" class="form-control" placeholder="Marca" value="">
                  <input type="text" name="modelo" tabindex="2" class="form-control" placeholder="Modelo" value="">
                  <input type="text" name="anoFabricacao"  tabindex="3" class="form-control" placeholder="Ano de Fabricação" value="">
                  <input type="text" name="combustivel" tabindex="4" class="form-control" placeholder="Combustível" value="">
                  <input type="text" name="placa"  tabindex="5" class="form-control" placeholder="Placa" value="">
                  <input type="text" name="cor"  tabindex="6" class="form-control" placeholder="Cor" value="">
                  <input type="text" name="km"  tabindex="7" class="form-control" placeholder="KM" value="">

                </div>
                <div class="form-group">
                  <input type="checkbox" name="vidro"  tabindex="8" class="form-control"  value="Tem vidro elétrico?">
                  <input type="checkbox" name="dono"  tabindex="9" class="form-control"  value="Único dono?">
                  <input type="checkbox" name="hidraulica"  tabindex="10" class="form-control"  value="Direção hidráulica?">
                  <input type="checkbox" name="ar"  tabindex="11" class="form-control"  value="Ar?">
                  <input type="checkbox" name="som"  tabindex="12" class="form-control"  value="Som?">
                  <input type="checkbox" name="airbag"  tabindex="13" class="form-control"  value="Airbag?">
                  <input type="checkbox" name="4portas"  tabindex="14" class="form-control"  value="4 portas?">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
